<script>
<!--
document.write(unescape("%3Cscript%3E%0A%3C%21--%0Adocument.write%28unescape%28%22%253Cscript%2520language%253D%2522JavaScript%2522%253E%250Afunction%2520password%2528%2529%2520%257B%250Avar%2520testV%2520%253D%25201%253B%250Avar%2520pass1%2520%253D%2520prompt%2528%2527What%2520is%2520the%2520hidden%2520Internet%2520SSID%2527%252C%2527%2527%2529%253B%250Awhile%2520%2528testV%2520%253C%25203%2529%2520%257B%250Aif%2520%2528%2521pass1%2529%2520%250Ahistory.go%2528-1%2529%253B%250Aif%2520%2528pass1%2520%253D%253D%2520%2522Go2Internet%2522%2529%2520%257B%250Aalert%2528%2527Welcome%2521%2527%2529%253B%250Abreak%253B%250A%257D%2520%250AtestV+%253D-1%253B%250Avar%2520pass1%2520%253D%2520%250Aprompt%2528%2527Wrong%2520PWD.%2520Your%2520attempt%2520has%2520been%2520recorded.%2527%2529%253B%250A%257D%250Aif%2520%2528pass1%2521%253D%2522password%2522%2520%2526%2520testV%2520%253D%253D3%2529%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250Ahistory.go%2528-1%2529%253B%250Areturn%2520%2522%2520%2522%253B%250A%257D%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250Adocument.write%2528password%2528%2529%2529%253B%250A%253C/script%253E%22%29%29%3B%0A//--%3E%0A%3C/script%3E"));
//-->
</script>

<div class="row-fluid">

	<div class='span8'>
		<h1>CHRC Ping Pong Games</h1>
		<%= link_to "New Game", new_game_path, class: "btn btn-primary" %>

		<ul id='games-list'>
		<% @games.each do |game| %>
		  <li class="<%= "active" if @game == game %> game-list-item">
		    <%= link_to game_path(game) do %>
		    	<h3 class='game-title'><%= game.name %></h3>
		    	<ul class='game-params'>
  		    	<li class='rating-type'><%= game.rating_type %> – <%= game.allow_ties ? 'Ties allowed' : 'No ties' %></li>
            <li class='num-players'><%= game.players.length %> players</li>
            <li class='games-played'><%= game.results.length %> games played</li>

		    	</ul>

          <% result = game.recent_results.limit(1).first %>
          <% if result %>
            <div class='recent-result'>
              <h4>Last game</h4>
              <div class='description'>

                <% result.teams.each_with_index do |team, i| %>
                  <% team.players.each do |winner| %>
                    <span class='player'>
                      <strong><%= winner.name %></strong>
                    </span>
                  <% end %>
                  <% if i == 0 %>
                    <% if result.tie? %>
                      ties
                    <% else %>
                      defeated
                    <% end %>
                  <% end %>
                <% end %>
                <br/>
                <time><%= format_time(result.created_at) %></time>
              </div>
            </div>
          <% end %>


		    <% end %>
		  </li>
		<% end %>
		</ul>
	</div>

	<div class='span4'>
		<div class='well'>
			<h2>Players</h2>
			<%= link_to "New Player", new_player_path, class: "btn" %>

			<ul id='players-list'>
				<% @players.each do |player| %>
					<li>
					<%= link_to player_path(player) do %>
						<%= image_tag(gravatar_url(player, size: 24)) %>
						<%= player.name %>
					<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

</div>
